<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="download_center" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Download Center</label>
            <tab>oracdecor</tab>
            <resource>OracDecor_DownloadCenter::config_download_center</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="archive_path" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Absolute path</label>
                    <comment>Relative path to store archives (zip) of asset downloads (base directory = var/).</comment>
                </field>
                <field id="archive_force_recreate" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Force recreate zip archives</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set to "Yes" if you want to new create zip files for every download request. Set to "No" to use internal caching: existing archives are not re-created.</comment>
                </field>
            </group>
            <group id="logging" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Logging</label>
                <field id="log_file" translate="label" type="text" sortOrder="30" showInDefault="1">
                    <label>Log file</label>
                    <comment>Default: var/log/asset_downloads.log</comment>
                </field>
                <field id="log_level" translate="label" type="select" sortOrder="40" showInDefault="1">
                    <label>Log level</label>
                    <source_model>OracDecor\Base\Model\Config\LogLevels</source_model>
                </field>
            </group>

        </section>
    </system>
</config>
